.list__item {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  font-size: 2rem;
  margin: 1rem 0;
  padding-left: 1rem;
  h2 {
    cursor: pointer;
  }
  &--heading {
    font-weight: 380;
    flex-basis: 60%;
    flex-grow: 1;
    cursor: pointer;
  }

  &--button-remove {
    background-color: #dc3545;
    flex-basis: 10%;
    border: none;
    outline: none;
    margin-left: 1rem;
  }
}

.list__item-child {
  padding: 1rem;
  margin: 1rem 2rem;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;

  &--heading {
    font-size: 1.6rem;
    font-weight: 400;
  }
}
